/*$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 40%; } }

body {
  font-family: "Lato", sans-serif;
  color: #676767;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: .05rem;
  text-rendering: optimizeLegibility; }

section {
  padding: 0 0 8rem 0; }
  @media only screen and (max-width: 62.5em) {
    section {
      padding: 0 0 8rem 0; } }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(9, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 75em) {
    .container {
      grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end]; } }

/* roshan scroll-snap test*/
.scroll-snap {
  grid-column: full-start / full-end; }

.scroll-snap-test {
  display: flex;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory; }
  .scroll-snap-test img {
    height: 25rem;
    width: auto;
    scroll-snap-align: center; }

/*.header {     
     position: relative; */
/*
   @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
     -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
     clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); 
     height: 95vh;
   }*/
/*@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), 
          only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), //safari doesn't support to the this part "min-resolution: 192dpi" so we add this line 
          only screen and (min-width: 125em) {
       background-image: linear-gradient(
       to right bottom, 
       rgba($color-secondary-light, 0.6), 
       rgba($color-secondary-dark, 0.6)), 
       url(../img/hero.jpg);
   }
   
     @include respond(phone) {
       -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
       clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
     }
   */
/*  &__logo-box {
     position: absolute; //relative to the "header" so we put "position: relative;" on header 
     top: 4rem;
     left: 4rem;
     }
   
     &__logo {
     height: 3.5rem;
     }
   // 4 end
   
   // 6
     &__text-box {
     position: absolute;
     top: 40%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center; //to align the button to center, as it is a text can use this simple text align property
     }
}
   // 6 end
*/
.header {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to top, rgba(165, 214, 167, 0.7), rgba(56, 142, 60, 0.9)), url(../img/hero.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  display: grid;
  grid-template-rows: min-content 1fr; }
  @media only screen and (max-width: 37.5em) {
    .header {
      grid-template-rows: 1fr min-content;
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero_mobile.jpg); } }

/*nav============================================================================================================================*/
.top-nav {
  display: grid;
  grid-template-columns: min-content 1fr;
  /*
     .wrapper { Get this from stackoverflow, to make a border around the nave item. there are few but this shadow effect was perfect - https://stackoverflow.com/questions/47882924/preventing-double-borders-in-css-grid
          display: grid;
          grid-template-columns: 50px 50px 50px 50px;
          grid-column-gap: 1px;
          grid-row-gap: 1px;
          }
          .wrapper > div {
          padding: 15px;
          text-align: center;
          box-shadow: 0 0 0 1px;
          }
     */ }
  @media only screen and (max-width: 37.5em) {
    .top-nav {
      grid-template-columns: 1fr;
      grid-template-rows: min-content 1fr;
      height: auto; } }
  .top-nav__logo-box {
    align-self: center; }
    @media only screen and (max-width: 37.5em) {
      .top-nav__logo-box {
        justify-self: center;
        align-self: center; } }
  .top-nav__logo {
    box-sizing: content-box;
    padding: 1rem 0;
    margin-left: 5vw;
    height: 5rem;
    width: auto; }
    @media only screen and (max-width: 62.5em) {
      .top-nav__logo {
        margin-left: 1rem;
        height: 8rem; } }
    @media only screen and (max-width: 37.5em) {
      .top-nav__logo {
        margin-top: 0;
        margin-left: 0;
        height: 15rem;
        align-self: center; } }
  .top-nav__links {
    margin-right: 5vw;
    display: grid;
    grid-template-columns: repeat(6, max-content);
    grid-column-gap: 3vw;
    justify-content: end;
    align-content: center;
    list-style: none;
    /*to remove bullets*/ }
    @media only screen and (max-width: 62.5em) {
      .top-nav__links {
        margin-right: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .top-nav__links {
        margin-top: 0;
        margin-right: 0;
        grid-row: 1 / 2; } }
    @media only screen and (max-width: 37.5em) {
      .top-nav__links {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 1px;
        grid-column-gap: 1px; } }
  @media only screen and (max-width: 37.5em) {
    .top-nav__links > div {
      box-shadow: 0 0 0 1px #808080; } }
  .top-nav__link a:link,
  .top-nav__link a:visited {
    color: #fff;
    text-decoration: none;
    /*remove underline*/
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .15rem;
    border-bottom: 3px solid transparent;
    /*^^look at the 'hover' and 'active' states below*/
    transition: border-bottom 0.2s;
    /* we add a transition animation as we did on buttons*/
    padding: 1.4rem 0;
    /* space between the line and the text */ }
  .top-nav__link a:hover,
  .top-nav__link a:active {
    border-bottom: 3px solid #4CAF50;
    /* ^^ In order for this to happen we need this border to exsist before we actualy hover it but since we dont want to see it, we make it transparent */ }
  .top-nav__link-box a {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
    /* fontawesome icons - removed after adding svgs
               i {
               padding-right: .75rem;
               font-size: 1.8rem;
               align-self: center;

               @media only screen and (max-width: $bp-medium) {
                    padding-right: 0;
                    padding-bottom: .3rem;
               }
          }  */ }
    @media only screen and (max-width: 56.25em) {
      .top-nav__link-box a {
        flex-direction: column; } }
    @media only screen and (max-width: 37.5em) {
      .top-nav__link-box a {
        padding: 1rem; } }
  .top-nav .fa {
    display: block;
    height: 20px;
    width: 20px;
    margin-right: .5rem;
    fill: #fff; }
    @media only screen and (max-width: 56.25em) {
      .top-nav .fa {
        margin-right: 0;
        padding-bottom: .3rem; } }

.fa {
  height: 25px;
  width: 25px;
  fill: #388E3C; }

/*sticky navi*/
.sticky {
  grid-template-rows: min-content;
  position: fixed;
  bottom: 0;
  width: 100%;
  -webkit-box-shadow: 0 -8px 10px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  /* roshan - for botton nav */
  box-shadow: 0 -8px 10px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  transition: transform 3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 5000;
  /*
     @media only screen and (max-width: $bp-medium) { //roshan - may be not nessery        
          min-height: auto; // )))))))
     }  */ }

/*backdrop filter==============================================================================================================*/
@supports (backdrop-filter: none) {
  .sticky {
    background-color: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); } }

@supports not (backdrop-filter: none) {
  .sticky {
    background-color: rgba(255, 255, 255, 0.97); } }

/*backdrop filter==============================================================================================================*/
.top-nav__logo-black {
  display: none; }

.sticky .top-nav__logo-black {
  box-sizing: content-box;
  padding: .4rem 0;
  margin-left: 5vw;
  height: 5rem;
  width: auto;
  display: block; }
  @media only screen and (max-width: 37.5em) {
    .sticky .top-nav__logo-black {
      display: none; } }

.sticky .top-nav__logo {
  display: none; }

.sticky div a:link,
.sticky div a:visited {
  color: #676767;
  padding: 1.2rem 0;
  /* space between the line and the text */ }
  @media only screen and (max-width: 37.5em) {
    .sticky div a:link,
    .sticky div a:visited {
      padding: 1.5rem 0; } }

.sticky .fa {
  fill: #676767; }
  @media only screen and (max-width: 37.5em) {
    .sticky .fa {
      height: 30px;
      width: 30px; } }

.sticky .top-nav__link-box {
  color: #676767; }

@media only screen and (max-width: 37.5em) {
  .sticky .link-text {
    display: none; } }

.sticky .top-nav__links {
  align-content: end; }
  @media only screen and (max-width: 37.5em) {
    .sticky .top-nav__links {
      grid-template-columns: repeat(6, 1fr);
      grid-row-gap: 0; } }

@media only screen and (max-width: 37.5em) {
  .sticky .top-nav__links > div {
    box-shadow: 1px 0 0 0 #c7c7c7; } }

@media only screen and (max-width: 37.5em) {
  .sticky .top-nav__link-box a i {
    font-size: 2.8rem;
    padding-bottom: 0; } }

@media only screen and (max-width: 37.5em) {
  .sticky .top-nav__logo-box {
    display: none; } }

/*nav end============================================================================================================================*/
.main-heading {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .main-heading {
      justify-content: flex-end;
      margin: 0 7.5vw 7.5vw;
      text-align: center; } }
  @media only screen and (max-width: 37.5em) {
    .main-heading .btn {
      padding: 1.6rem 2rem;
      text-align: center; } }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* to fix the shaking issue at the end of the animation. so we use this property for entire heading */
  margin-bottom: 6rem;
  /* space between the h1 and the button */ }
  .heading-primary--main {
    display: block;
    /* to create a linebreak between the "main" & "sub"*/
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    /* 01.two essential properties to animation workwith. */
    animation-duration: 1s;
    /* 02 */
    animation-timing-function: ease-out;
    /*for shorter virsion of these three properties look at below "&--sub" */
    /*  animation-delay: 3s;  */
    /* delay before the animation begins*/
    /*  animation-iteration-count: 3; */
    /*how many times animation occurs*/
    /*
          @include respond(phone) {
          letter-spacing: 1rem;
          font-family: 5rem;
          }*/ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
    /*
          @include respond(phone) {
          letter-spacing: .5rem;
          }*/ }

.start {
  background-color: yellow;
  grid-column: center-start / center-end; }

.addition {
  background-color: red;
  grid-column: center-start / center-end; }

.gallery {
  background-color: crimson;
  grid-column: full-start / full-end; }

.weight-loss {
  background-color: black;
  grid-column: center-start / center-end; }

.heavy-weight {
  background-color: royalblue;
  grid-column: full-start / full-end; }

.trainers {
  background-color: magenta;
  grid-column: full-start / full-end; }

.price {
  background-color: grey;
  grid-column: center-start / center-end; }

.features {
  background-color: yellow;
  grid-column: center-start / center-end; }

.contact {
  background-color: pink;
  grid-column: center-start / center-end; }

.footer {
  background-color: brown;
  grid-column: full-start / full-end; }

@keyframes moveInLeft {
  /* for browser performance we animate only two properties, "opacity & transform" */
  0% {
    opacity: 0;
    /*at first we want the object invisible */
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem);
    /* there are two properties required to animation work. look at the "typography" file*/ }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: .1rem 2rem;
  border-radius: 10rem;
  /*to make the button round */
  transition: all .2s;
  position: relative;
  /* to align the ::after psudo button */
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #4CAF50;
  color: #fff; }
  .btn--green::after {
    background-color: #4CAF50; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .4s ease-out .75s;
  /*.75s is the animatino delay */
  animation-fill-mode: backwards;
  /* we could see button is visible before the animation start, to fix this we use this. this automaticaly adds the styles of 0% that is on the @keyframe before the animation start */ }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #4CAF50;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #4CAF50;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #4CAF50;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

/*
   .header__text-box {
        backface-visibility: hidden;
   }*/
